

html {
      background-color: black;
    }

.Fon { 
	 margin: auto;
	 width: 1000px;
	 height: 600px;       
     background-color: black;
     background-image: url('../Jpeg/GameTime.jpg');
     background-repeat: no-repeat;
    }

.card {
      width: 100px;
      height: 150px;
      margin: 21px;
      border-radius: 8px;
      display: inline-block;
      cursor: pointer;
      background-image: url('../Jpeg/PlayesCard.jpg');
      background-size: cover;
      color: white;
      font-size: 20px;
      text-align: center;
      line-height: 150px;
      transition: background-image 1.3s ease, transform 0.5s ease;
      transform-style: preserve-3d;
    }

.card.flipped {
      transform: rotateX(180deg) rotateY(-180deg) rotateX(180deg) rotateY(-180deg);
    }

.menu {
	  margin: auto;
      width: 300px;
      height: 80px;
      background-color: black;
      display: inline-block;
    }
	
.audio {
      margin: 25px;
      width: 200px;
      height: 30px;
    }
	
.Menu{
      width: 40px;
      height: 40px;
	margin: 20px;
	background-image: url('../svg/Home.svg');
      background-size: cover;
      }

.reset{
      width: 40px;
      height: 40px;
	margin: 20px;
	background-image: url('../svg/Reset.svg');
      background-size: cover;
}
.play{
      width: 40px;
      height: 40px;
	margin: 20px;
      cursor: pointer;
	background-image: url('../svg/Play.svg');
      background-size: cover;
}
