 
body {
    background-color: #1E1E1E;
  }

.Fon { 
   position: relative; /* -------- Ստուգել ------- */
   margin: auto;
   width: 1000px;
   height: 700px;       
  }

  .info1{
    width: 800px;
    height: 70px;
    margin: auto; 
    display: inline-block;
    line-height: 150px;
    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
    position: fixed;
    z-index: 3; 
    background: rgba( 0, 0, 0, 0 ); /* գույն ալֆա կանալով աշխատել*/
    box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37); /* ստվերի համար */
    backdrop-filter: blur( 3px );          /*բլուրի չափը 0,1-ից 20 */
    -webkit-backdrop-filter: blur( 3px );  /*փոխել վերևինի հետ միասին */
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

.Classic,
.Manual,
.Hard {
    position: relative; /* -------- Ստուգել ------- */
    width: 283px;
    height: 493px;
    margin: 130px 22px 90px 22px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 150px;
    background-color: black;
    background-size: cover;
   /* padding-top: 100%;  https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
  }
  
.Classic {
    background-image: url('../svg/Classic.svg');
  }
.Classic:hover {
  box-shadow: 0px 0px 39px 7px rgb(255,0,0);
  }     
  	
.Manual {
    background-image: url('../svg/Manual.svg');
  }
.Manual:hover {
  box-shadow: 0px 0px 39px 7px rgb(255,0,0);
  }	

  .Hard {
    background-image: url('../Jpeg/Hard.png');
  }

.Hard:hover
  {
  box-shadow: 0px 0px 39px 7px rgb(255,0,0);
  }

   /* Card Flip START */
 .Flipdiv
 {
  width: 0.1px;
  height: 0.1px;
  position: relative;
  background-color: rgba(0, 0, 255, 0);
  left: -35px;
  top: -525px;
  z-index: 1;
 }    

.Flip1{                /*DOWN*/
    width: 79px;
    height: 117px;
    background-image: url('../svg/Card1.svg');
    background-size: cover;
    position: relative;
    left: 130px;
    top: 50px;
    animation: Fliped1 1.5s forwards;
    animation-delay: 0.5s;
    z-index: 2;
    }

@keyframes Fliped1{                
   100%{
   transform: rotate(-20deg);
   transform-origin: 50% 40%;
   margin-left: -30px;
   }
     } 
     
.Flip2{              /*UP*/
    width: 80px;
    height: 120px;
    background-image: url('../svg/Card2.svg');
    background-size: cover;
    position: relative;
    left: 129px;
    top: -67px;
    animation: Fliped2 1.5s forwards;
    animation-delay: 0.5s;
    z-index: 2;
    border-radius: 15px;
    border: 0.5px solid rgba( 255, 255, 255, 0.18 );
    }

@keyframes Fliped2{              
   100%{
   transform: rotate(10deg);
   transform-origin: 20% 40%;
   margin-left: 40px;
   }
     } 	  
 /* Card Flip END */



/*.logoshadov      
  {
    width: 99px;
    height: 99px;
    z-index: 2;
    background-color: rgba(255, 0, 0, 0);
    transform: rotate(45deg);	
    position: relative;
    left: 92px;
    top: 266px;
    box-shadow: 0px 0px 30px 5px rgb(0,0,255);
    z-index: 1;
  }  */


.Classic_L{
   width: 283px;
   height: 493px;
   border-radius: 20px;	 
   aspect-ratio: 1;
   background:
   linear-gradient(to bottom right,#0000 calc(40% - 40px),#fff 50%,#0000 calc(30% + 40px)) 
   bottom right/calc(200% + 80px) calc(260% + 80px) 
   rgba(255, 166, 0, 0);
   animation: Anun1 2s backwards;
   animation-delay: 2s; 
   translate: (-50% -50%);
   position: relative;
   left: 0px;
   top: 0px;
     }   
     
@keyframes Anun1 {
   100% {background-position: top left}
     }
           
.Manual_L {
   width: 283px;
   height: 493px;
   border-radius: 20px;	 
   aspect-ratio: 1;
   background:
   linear-gradient(to bottom right,#0000 calc(40% - 40px),#fff 50%,#0000 calc(30% + 40px)) 
   bottom right/calc(200% + 80px) calc(260% + 80px) 
   rgba(255, 166, 0, 0);
   animation: Card_Fliped 2s backwards;
   animation-delay: 2.4s; 
   translate: (-50% -50%);
   position: relative;
   left: 0px;
   top: 0px;
   z-index: 2;
     }   
     
@keyframes Card_Fliped {
   100% {background-position: top left}
     }

.Hard_L {
   width: 283px;
   height: 493px;
   border-radius: 20px;	 
   aspect-ratio: 1;
   background:
   linear-gradient(to bottom right,#0000 calc(40% - 40px),#fff 50%,#0000 calc(30% + 40px)) 
   bottom right/calc(200% + 80px) calc(260% + 80px) 
   rgba(255, 166, 0, 0);
   animation: Anun1 2s backwards;
   animation-delay: 2.8s; 
   translate: (-50% -50%);
   position: relative;
   left: 0px;
   top: 0px;
     }   	   
@keyframes Anun1 {
   100% {background-position: top left}
     }
     
.Fon2 { 
   margin: auto;
   width: 1000px;
   height: 3500px;
  color: White;	 
  }	   
.Players { 
   width: 1000px;
   height: 80px;  
   color: white;
   font-size: 50px;	
   text-align: center;
  }	  
          
.Red,
.Sherif,
.Mafia,
.Don,
.God,
.Medic,
.Journal,
.Maniac{
    width: 100px;
    height: 150px;
    margin: 10.7px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    background-size: cover;
  }

.Red{
    background-image: url('../svg/Red.svg');
  }
.Sherif{
    background-image: url('../svg/Sherif.svg');
  }
.Mafia{
    background-image: url('../svg/Mafia.svg');
  }
.Don{
    background-image: url('../svg/Don.svg');
  }
.God{
    background-image: url('../svg/Godfater.svg');
  }
.Medic{
    background-image: url('../svg/Medic.svg');
  }
.Journal{
    background-image: url('../svg/News.svg');
  }
.Maniac{
    background-image: url('../svg/Maniac.svg');
  }

.mydiv{
     width: 1000px;
     height: 150px;
     background: url('../Jpeg/mafia-1.jpg');
     background-size: cover; 
     background-attachment: fixed;	   
}
.info{
    width: 944px;
    height: 167px;
    margin: auto;
    border-radius: 8px;
    display: inline-block;
    line-height: 150px;
    background-image: url('../Jpeg/info.png');
    background-size: cover;
  }
  
.Youtube,
.Facebook,
.Hayibruncq,
.GameTime{
    width: 32px;
    height: 32px;
    margin: 5px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    line-height: 150px;
    background-size: cover;
  }

.Youtube{
    background-image: url('../Jpeg/Youtube_hover.png');
  }
.Youtube:hover{
    background-image: url('../Jpeg/Youtube.png');
  }
.Facebook{
    background-image: url('../Jpeg/Facebook_hover.png');
  }
.Facebook:hover{
    background-image: url('../Jpeg/Facebook.png');
  }
.Hayibruncq{
    background-image: url('../Jpeg/Hayibruncq_hover.png');
  }
.Hayibruncq:hover{
    background-image: url('../Jpeg/Hayibruncq.png');
  }
  .GameTime{
    background-image: url('../Jpeg/GameTime_.png');
  }
.GameTime:hover{
    background-image: url('../Jpeg/GameTime_hover.png');
  }
  .loto{
    background-image: url('../Jpeg/GameTime_.png');
  }
